@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Signika+Negative&display=swap');
*{
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #222 #444;
}
html, body
{
    height: 100%;
    width: 100%;
}
body
{
    background: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
    margin: 0;
    padding: 0;
}
#app
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a
{
    text-decoration: none;
    color: inherit;
}